{% extends "dashboard.html" %} {% block content %}
<div class="card">
  <ul class="list-group list-group-flush">
    {% for category in result %} {% set trimmedCategory = category|replace("('",
    "")|replace("',)", "") %}
    <li class="list-group-item">
      <div class="row" id="{{trimmedCategory}}">
        <div class="col-10">
          <button
            type="button"
            class="btn bg-light btn-lg btn-block"
            onclick="openWindowWithPost('/category_2', {'category':this.parentNode.parentNode.id})"
          >
            {{trimmedCategory}}
          </button>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-outline-dark btn-lg"
            onclick="openWindowWithPost('/product_list', {'category':this.parentNode.parentNode.id})"
          >
            Product List
          </button>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
