{% extends "dashboard.html" %} {% block content %} {% for
Transaction_ID,Seller_Email,Listing_ID,Buyer_Email,Date,Quantity,Payment,Title,Product_Name
in order_and_product%}
<div class="card" style="width: 100%">
  <div class="card-body">
    <h5 class="card-title">
      {{Title}}, <em style="color: Gray">{{Product_Name}}</em>
    </h5>
    <h6 class="card-subtitle mb-2 text-muted">{{Date}}</h6>
    <p class="card-text">Transaction ID: {{Transaction_ID}}</p>
    <p class="card-text">Quantity: {{Quantity}}</p>
    <p class="card-text">Payment: ${{Payment}}.0</p>
    <p>Seller: <a href="#" class="card-link">{{Seller_Email}}</a></p>
  </div>
</div>
{% endfor %} {% endblock %}
