{% extends "dashboard.html" %} {% block content %}
<div class="card">
  <ul class="list-group list-group-flush">
    {% for title, productName, productDescription, ListingId in result %}
    <li class="list-group-item">
      <button
        type="button"
        class="btn bg-light btn-lg btn-block"
        id="{{ListingId}}"
        onclick="openWindowWithPost('/product', {'lid':this.id})"
      >
        <h2>{{title}}</h2>
        <p>{{productName}}</p>
      </button>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
