{% extends "dashboard.html" %} {% block content %}
<div class="card" style="width: 100%">
  {% for Seller_Email,Listing_ID,Category,Title,Product_Name,Product_Description,Price,Quantity in product_info %}
  <div class="card-body">
    <h1 class="display-4">{{Title}}</h3>
      <p class="lead"><em>{{Product_Name}}, {{Product_Description}}</em></p>
    <p>Category: <a href="#" class="card-link">{{Category}}</a></p>
  {% endfor %}
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p class="h4">Available Sellers:</p></li>
    {% for Seller_Email, Price, Quantity, Listing_ID in seller %}
    <li class="list-group-item"">
      <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <button
          type="button"
          class="btn bg-light btn-lg btn-block"
          id="{{Listing_ID}}"
          onclick="openWindowWithPost('/transaction', {'lid':this.id})"
        >
          <em style="color: #005555; font-weight:700;">{{Price}}</em> {{Seller_Email}}
        </button>
      </div>
      <div class="col-1"></div>
    </div>
    </li>
    {% endfor %}
  </ul>
  <ul class="list-group list-group-flush">
    <li class="list-group-item"><p class="h4">Reviews:</p></li>
    {% for Buyer_Email, Seller_Email, Listing_ID, Review_Desc in product_review %}
    <li class="list-group-item">
      "{{Review_Desc}}"
      <footer class="blockquote-footer">{{Buyer_Email}}</footer>
      <br>
      <p>Seller: <a href="#">{{Seller_Email}}</a></p>
    </li>
    {% endfor %}
  </ul>
  </div>
</div>
{% endblock %}
