<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script src="//code.jquery.com/jquery-3.6.0.min.js"></script>
    <title></title>
  </head>
  <body>
    <div class="container-sm">
      <div class="card-body">
        <h2 class="card-title">User Info</h2>
        <table class="table table-dark">
          <tr>
            <th scope="col">Email</th>
            <th scope="col">Password</th>
          </tr>
          <tbody>
            {% for email, password, e_password in result %}
            <tr>
              <td>{{ email }}</td>
              <td>{{ password }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>

    <script>
      $("#back").click(function () {
        window.open("/dashboard", "_self");
      });
    </script>
  </body>
</html>
